{% extends "base.html"%}
{% load static  %}
{% block content%}
<title>BelLand Safaris</title>
<!-- <div class="card1"> -->
    <div class=" text-center "style="padding:20px ; margin-top:auto;font-size:30px">
    <!-- <div class="container   text-white"> -->
        
            <h3 class="display-5 mt-4">
                BELLAND SAFARIS TOURS
            </h3>
            <p class="display-6 ">
                Bel-Land Safaris is a well-established tour company based in Arusha, Tanzania; providing ultimate safari
                experience, day trips, hiking the majestic Mount Kilimanjaro, cultural tours, balloon safaris,
                Photographic safari, trek safari, hotels bookings, airport transfers and scenic safaris or simply
                looking to relax on Zanzibar’s pristine beaches, our team will make sure your holiday is unforgettable.
                Our Tour packages range from all-inclusive group trips for families or students, corporate retreats, and
                specialized or customized tours. We focus our tours on the following categories, wildlife & nature,
                Community & Culture, Adventure, and Relaxation. Our tour costs range from mid-range to luxury. However,
                we can organize budget tours upon request
                With our unique and experienced safaris guides, we offer peace of mind to clients who book with us and
                security is our first priority on any safari. Feel free to check out our safari offers and book with us!
                We get our services done better than those who can do it.
                With the whole some fraternity, Bel-Land Safaris arranges tailor made trips and all preferred custom
                tour desires based on the clients destination field at a reasonable discount , Contact us for a long
                lasting memorable experience as we pride our company for taking you to your favorite parts of Africa for
                the best adventurous trips in the wilderness.

            </p>
    
    </div>
<!-- </div> -->
<!-- </div> -->



{% endblock content %}